/* font setup */
@font-face{
    font-family: "Poppins-Black";
    src: url(../fonts/Poppins-Black.ttf) format(truetype);
}
@font-face{
    font-family: "Poppins-Bold";
    src: url(../fonts/Poppins-Bold.ttf) format(truetype);
}
@font-face{
    font-family: "Poppins-Medium";
    src: url(../fonts/Poppins-Medium.ttf) format(truetype);
}
@font-face{
    font-family: "Poppins-Regular";
    src: url(../fonts/Poppins-Regular.ttf) format(truetype);
}
@font-face{
    font-family: "Poppins-SemiBold";
    src: url(../fonts/Poppins-SemiBold.ttf) format(truetype);
}
/* reset site  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* grid site */
html {
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: 62.5%; /* 10px */

}

*,
*::after,
*::before {
    box-sizing: inherit;
}
body {
    line-height: 1.6;
    font-size: 1.6rem;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

/* 

- Grid System

*/

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.row>* {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 30px;
}

.col {
    max-width: 100%;
    flex-grow: 1;
}

.col-1 {
    width: 8.333333%;
    flex: 0 0 auto;
}

.col-2 {
    width: 16.666666%;
    flex: 0 0 auto;
}

.col-3 {
    width: 25%;
    flex: 0 0 auto;
}

.col-4 {
    width: 33.333333%;
    flex: 0 0 auto;
}

.col-5 {
    width: 41.666666%;
    flex: 0 0 auto;
}

.col-6 {
    width: 50%;
    flex: 0 0 auto;
}

.col-7 {
    width: 58.333333%;
    flex: 0 0 auto;
}

.col-8 {
    width: 66.666666%;
    flex: 0 0 auto;
}

.col-9 {
    width: 75%;
    flex: 0 0 auto;
}

.col-10 {
    width: 83.333333%;
    flex: 0 0 auto;
}

.col-11 {
    width: 91.666666%;
    flex: 0 0 auto;
}

.col-12 {
    width: 100%;
    flex: 0 0 auto;
}


/* sm */

@media (min-width: 576px) {
    .container {
        width: 540px;
    }
    .col-sm-1 {
        width: 8.333333%;
        flex: 0 0 auto;
    }
    .col-sm-2 {
        width: 16.666666%;
        flex: 0 0 auto;
    }
    .col-sm-3 {
        width: 25%;
        flex: 0 0 auto;
    }
    .col-sm-4 {
        width: 33.333333%;
        flex: 0 0 auto;
    }
    .col-sm-5 {
        width: 41.666666%;
        flex: 0 0 auto;
    }
    .col-sm-6 {
        width: 50%;
        flex: 0 0 auto;
    }
    .col-sm-7 {
        width: 58.333333%;
        flex: 0 0 auto;
    }
    .col-sm-8 {
        width: 66.666666%;
        flex: 0 0 auto;
    }
    .col-sm-9 {
        width: 75%;
        flex: 0 0 auto;
    }
    .col-sm-10 {
        width: 83.333333%;
        flex: 0 0 auto;
    }
    .col-sm-11 {
        width: 91.666666%;
        flex: 0 0 auto;
    }
    .col-sm-12 {
        width: 100%;
        flex: 0 0 auto;
    }
}


/* md */

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
    .col-md-1 {
        width: 8.333333%;
        flex: 0 0 auto;
    }
    .col-md-2 {
        width: 16.666666%;
        flex: 0 0 auto;
    }
    .col-md-3 {
        width: 25%;
        flex: 0 0 auto;
    }
    .col-md-4 {
        width: 33.333333%;
        flex: 0 0 auto;
    }
    .col-md-5 {
        width: 41.666666%;
        flex: 0 0 auto;
    }
    .col-md-6 {
        width: 50%;
        flex: 0 0 auto;
    }
    .col-md-7 {
        width: 58.333333%;
        flex: 0 0 auto;
    }
    .col-md-8 {
        width: 66.666666%;
        flex: 0 0 auto;
    }
    .col-md-9 {
        width: 75%;
        flex: 0 0 auto;
    }
    .col-md-10 {
        width: 83.333333%;
        flex: 0 0 auto;
    }
    .col-md-11 {
        width: 91.666666%;
        flex: 0 0 auto;
    }
    .col-md-12 {
        width: 100%;
        flex: 0 0 auto;
    }
    
}


/* lg */

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
    .col-lg-1 {
        width: 8.333333%;
        flex: 0 0 auto;
    }
    .col-lg-2 {
        width: 16.666666%;
        flex: 0 0 auto;
    }
    .col-lg-3 {
        width: 25%;
        flex: 0 0 auto;
    }
    .col-lg-4 {
        width: 33.333333%;
        flex: 0 0 auto;
    }
    .col-lg-5 {
        width: 41.666666%;
        flex: 0 0 auto;
    }
    .col-lg-6 {
        width: 50%;
        flex: 0 0 auto;
    }
    .col-lg-7 {
        width: 58.333333%;
        flex: 0 0 auto;
    }
    .col-lg-8 {
        width: 66.666666%;
        flex: 0 0 auto;
    }
    .col-lg-9 {
        width: 75%;
        flex: 0 0 auto;
    }
    .col-lg-10 {
        width: 83.333333%;
        flex: 0 0 auto;
    }
    .col-lg-11 {
        width: 91.666666%;
        flex: 0 0 auto;
    }
    .col-lg-12 {
        width: 100%;
        flex: 0 0 auto;
    }
}


/* xl */

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
    .col-xl-1 {
        width: 8.333333%;
        flex: 0 0 auto;
    }
    .col-xl-2 {
        width: 16.666666%;
        flex: 0 0 auto;
    }
    .col-xl-3 {
        width: 25%;
        flex: 0 0 auto;
    }
    .col-xl-4 {
        width: 33.333333%;
        flex: 0 0 auto;
    }
    .col-xl-5 {
        width: 41.666666%;
        flex: 0 0 auto;
    }
    .col-xl-6 {
        width: 50%;
        flex: 0 0 auto;
    }
    .col-xl-7 {
        width: 58.333333%;
        flex: 0 0 auto;
    }
    .col-xl-8 {
        width: 66.666666%;
        flex: 0 0 auto;
    }
    .col-xl-9 {
        width: 75%;
        flex: 0 0 auto;
    }
    .col-xl-10 {
        width: 83.333333%;
        flex: 0 0 auto;
    }
    .col-xl-11 {
        width: 91.666666%;
        flex: 0 0 auto;
    }
    .col-xl-12 {
        width: 100%;
        flex: 0 0 auto;
    }
}


/* xxl */

@media (min-width: 1400px) {
    .container {
        width: 1370px;
    }
    .col-xxl-1 {
        width: 8.333333%;
        flex: 0 0 auto;
    }
    .col-xxl-2 {
        width: 16.666666%;
        flex: 0 0 auto;
    }
    .col-xxl-3 {
        width: 25%;
        flex: 0 0 auto;
    }
    .col-xxl-4 {
        width: 33.333333%;
        flex: 0 0 auto;
    }
    .col-xxl-5 {
        width: 41.666666%;
        flex: 0 0 auto;
    }
    .col-xxl-6 {
        width: 50%;
        flex: 0 0 auto;
    }
    .col-xxl-7 {
        width: 58.333333%;
        flex: 0 0 auto;
    }
    .col-xxl-8 {
        width: 66.666666%;
        flex: 0 0 auto;
    }
    .col-xxl-9 {
        width: 75%;
        flex: 0 0 auto;
    }
    .col-xxl-10 {
        width: 83.333333%;
        flex: 0 0 auto;
    }
    .col-xxl-11 {
        width: 91.666666%;
        flex: 0 0 auto;
    }
    .col-xxl-12 {
        width: 100%;
        flex: 0 0 auto;
    }
}
/*  */



:root{
    /* color for site */
    --Orenge:#FF6331;
    --main-color:#0ABEAD;
    --Black:#333333;
    --text-color:#fff;
    --section-bg-color : #fff;
    --color-shadow:rgba(4, 195, 255, 0.16);


    
    /************ fonts site **************/

    --Black-font: "Poppins-Black", sans-serif;
    --Bold-font: "Poppins-Bold", sans-serif;
    --SemiBold-font: "Poppins-SemiBold", sans-serif;
    --Medium-font: "Poppins-Medium", sans-serif;
    --Regular-font: "Poppins-Regular", sans-serif;
}
/* dark Mode */
:root.dark-theme{
    --Black:#95A5C6;
    --text-color:#161D26;
    --section-bg-color : #1F2935;

}
:root.dark-theme .header,
:root.dark-theme .home-picture,
:root.dark-theme .section-content,
:root.dark-theme .resume,
:root.dark-theme .resume-tabmenu,
:root.dark-theme .pricing
{
    box-shadow: none;
}
:root.dark-theme body{
    background-color:#161D26 ;
}
:root.dark-theme .header__shape {
    
    fill: var(--section-bg-color);
}
:root.dark-theme .pricing-content__item::before {
    color: #fff;
}
:root.dark-theme .pricing-content__item::before {
    color: #fff;
}
:root.dark-theme .portfolio-menu__list--active >.portfolio-menu__link {
    color: #fff;
}
:root.dark-theme .tabmenu__links--active >.tabmenu__link {
    color: #fff;
}
:root.dark-theme .pricing-box {
    box-shadow: none;
    background-color: #161D26;
}
:root.dark-theme .change-theme {
    
    background-color: #eef0f3;
}

html {
    font-size: 10px;
}

body {
    font-family: "Poppins";
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--Black);
    background-color: #fff;
    padding-top: 12rem;
}

a{
    text-decoration: none;
}

/* 
==================================================================
                Component
==================================================================
*/
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    background-color: var(--main-color);
    color: var(--text-color);
    border-radius: 3rem;
    width: 20rem;
    height: 6rem;
    font-family: var(--SemiBold-font);
    font-size: 1.6rem;
    text-decoration: none;
    transition: all 0.120s ease;
}
.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(11, 190, 173, 0.3);
}
.section-title{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}
.section-title__text{
    font-family: var(--Bold-font);
    color: var(--main-color);
    font-size: 4.8rem;
}
.section-title__capsion{
    font-family: var(--Regular-font);
    color: var(--Black);
    font-size: 1.6rem;
    letter-spacing: 0.5rem;

}
.section-title__line{
    margin-top: 2rem;
    content: "";
    width: 24rem;
    height: 0.1rem;
    background-color: var(--main-color);
    border-radius: 2rem;
    position: relative;
}
.section-title__line::before{
    content: "";
    width: 4rem;
    height: 0.8rem;
    position: absolute;
    top: -0.3rem;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: var(--main-color);
    border-radius: 2rem;
}
/* 
==================================================================
                HELPER CLASSES
==================================================================
*/
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.align-item-center{
    align-items: center;
}

.reset-skew{
    transform:translateZ(0) skewY(6deg);
}

/************************** START PROJECT ****************************************/

/*
==================================      =========================================
    Header      Header      Header        Header      Header      Header      Header    
==================================      =========================================
*/
/* ------------------------------------------------------------------------
                            Desktop App
--------------------------------------------------------------------------*/
.header{
    border: 1px solid var(--text-color);
    box-shadow: 0 5px 5rem var(--color-shadow);
    background-color:var(--section-bg-color);
    position: fixed;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
}
.desktop-app{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}
.logo{
    font-family: var(--Black-font);
    color: var(--main-color);
    font-size: 7.8rem;
    text-align: left;
    text-shadow: 1px 1px 0 #707070;
    z-index: 200;
}
.menu{
    display: flex;
    z-index: 200;
}
.menu-links{
    list-style-type: none;
}
.menu__links--active{
    color: var(--main-color);
}
.menu__link{
    font-family: var(--Medium-font);
    font-size: 1.6rem;
    text-decoration: none;
    color: inherit;
    padding: 0 1.5rem;
}
.menu__link:hover{
    text-decoration: overline;
    transition: all 0.120s ease;
    color:var(--main-color);
}



/* ------------------------------------------------------------------------
                            Mobile App
--------------------------------------------------------------------------*/
.hamburger-menu{
    display: none;
    width: 6rem;
    height: 6rem;
    margin: auto 0;
    cursor: pointer;
    
}
.hamburger-menu__line{
    margin: 3rem 0;
    position: relative;
    transition: all 0.120s ease;
}
.hamburger-menu__line,
.hamburger-menu__line::before,
.hamburger-menu__line::after{
    background-color: var(--main-color);
    content: "";
    width: 3.5rem;
    height: 0.45rem;
    border-radius: 3rem;
}
.hamburger-menu__line::before{
    position: absolute;
    top: 1rem;
}
.hamburger-menu__line::after{
    position: absolute;
    bottom: 1rem;
}
.hamburger-menu--open >.hamburger-menu__line{
    background-color: transparent;
    transition: all 0.120s ease;
}
.hamburger-menu--open > .hamburger-menu__line::before{
    transition: all 0.120s ease;
    transform: translateY(-1rem) rotate(-45deg);
}
.hamburger-menu--open > .hamburger-menu__line::after{
    transform: translateY(1rem) rotate(45deg);
    transition: all 0.120s ease;
}
.mobile-app{
    display: none;
    position: fixed;
    top: 7rem;
    right: 0;
    left: 0;
    margin: 0 auto;
    height: auto;
    background-color: var(--main-color);
    border-radius: 2rem;
    z-index: 15;
    text-align: center;
}
.mobile-menu__items{
    flex-direction: column;
}
.mobile-menu__item{
    padding: 0.5rem;
    margin: 2rem 0;
}
.mobile-menu__link{
    font-family: var(--Medium-font);
    color: var(--text-color);
    font-size: 2rem;
    text-decoration: none;
    padding: 0 1.5rem;
}


/*
==================================      =========================================
    Main      Main      Main        Main      Main      Main      Main    
==================================      =========================================
*/
.main{
    margin-top: 6rem;
}
/* 
============   ================
    Home            Home  
============   ================
*/
.home{
}
.home-content{
    flex-direction: column;
    height: 100%;
    text-align: left;

}
.home__name{
    color: var(--main-color);
    font-family: var(--SemiBold-font);
    font-size: 2.8rem;
}
.home__name > span{
    color: var(--Orenge);
}
.home__title{
   font-family: var(--SemiBold-font);
    color: var(--main-color);
    font-size: 5rem;
}
.home__description{
    font-family: var(--Regular-font);
    opacity: 0.71;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}
.home__links{
    display: flex;
    align-items: flex-start;
}
.home__link-btn{
    color: var(--text-color);
    box-shadow: 0 1.5rem 4rem rgba(11, 190, 173, 0.41);
    margin-right: 1rem;
    
}
.home__link-btn--orenge{
    background-color: var(--Orenge);
    box-shadow: 0 1.5rem 4rem rgba(245, 127, 23, 0.24);

}

/* 
============
home picture
============
*/

.home{
    background: url(../images/header-shape.svg) no-repeat bottom;
    height:85rem;
}
.home-picture{
    margin-top: 8rem;
    width: 50rem;
    height: 50rem;
    border-radius: 100%;
    fill: none;
    border: 2rem solid var(--section-bg-color) ;
    box-shadow:0 5px 5rem var(--color-shadow);
    overflow: hidden;
    background: url(../images/header-avatar.jpg) no-repeat center;
    background-size: cover;
}



.main{
    position: relative;
}
/* 
============   ================
    Aboute         Aboute  
============   ================
*/

.aboute{
    margin-top: 6rem;
}
.title__capsion--green{
    color: var(--main-color);
}
/* ------------------------------------------------- */
.section-content{
    display: flex;
    margin-top: 8rem;
    box-shadow: 0 5px 5rem var(--color-shadow);
}
.aboute-cover{
    flex-basis: 50%;
    flex-shrink: 0;
}
.aboute-cover__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.aboute-content{
    flex-basis: 50%;
    background-color: var(--section-bg-color);
    flex-shrink: 0;
    padding: 4rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.aboute-content__title{
    font-family: var(--SemiBold-font);
    font-size: 2.4rem;
    margin-bottom: 2rem;
}
.aboute-content__discripsion{
    font-family: var(--Regular-font);
    font-size: 1.6rem;
    padding-right: 2rem;
}
.aboute-list{
    margin: 9rem 0 2rem 0;
}
.aboute-list__title{
    font-family: var(--SemiBold-font);
    font-size: 1.8rem;
    color: var(--main-color);
    margin-bottom: 2rem;
}
.aboute-list__items{
    align-items: center;
}
.aboute-list__items-item{
    font-family: var(--Regular-font);
    font-size: 1.6rem;
    align-items: center;
    margin-bottom: 1rem;
    padding-left: 3.5rem;
    margin-left: 1rem;
    position: relative;
}
.aboute-list__items-item::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 1.5rem;
    height: 1.5rem;
    background: var(--Orenge);
    border-radius: 100%;
}
.content-links{
    display: flex;
    justify-content: flex-end;
    margin: 2rem 0;
    justify-content: flex-start;
    gap: 1rem;

}
.content-links__btn{
    color: var(--text-color);
    box-shadow: 0 1.5rem 4rem rgba(11, 190, 173, 0.41);

}
.content-links__btn--orange{
    background-color: var(--Orenge);
    box-shadow: 0 1.5rem 4rem rgba(245, 127, 23, 0.24);
}


/* 
============
Services 
============
*/

.Services{
    margin-top: 6rem;
}
.Services-title{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.Services-title__text{
     font-family: var(--Bold-font);
    color: var(--main-color);
    font-size: 4.8rem;
}
.Services-title__capsion{
    font-family: var(--Regular-font);
    color: var(--Black);
    font-size: 1.6rem;
    letter-spacing: 0.5rem;

}
.Services-title__line{
    margin-top: 2rem;
    content: "";
    width: 24rem;
    height: 0.1rem;
    background-color: var(--main-color);
    border-radius: 2rem;
    position: relative;
}
.Services-title__line::before{
    content: "";
    width: 4rem;
    height: 0.8rem;
    position: absolute;
    top: -0.3rem;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: var(--main-color);
    border-radius: 2rem;
}    
.Services> .row{
    margin-top: 5rem;
}
.Services__place{
    flex-direction: column;
    text-align: center;
    position: relative;
    padding: 7rem 4rem;
}
.Services__place--vielot{
    background-color: #8540FF;
    box-shadow: 0 0 3.5px #8540FF;
}
.Services__place--yellow{
    background-color: #FFC50C;
    box-shadow: 0 0 3.5px #FFC50C;
}
.Services__place--pink{
    background-color: #EC407A;
    box-shadow: 0 0 3.5px #EC407A;
}
.Services__place--orange{
    background-color: var(--Orenge);
    box-shadow: 0 0  3.5px var(--Orenge);

}
.Services__place--blue{
    background-color: #13B6FF;
    box-shadow: 0 0 3.5px #13B6FF;
}
.Services__place--green{
    background-color: #49AF46;
    box-shadow: 0 0 3.5px #49AF46;
}
.Services__place-img{
    z-index: 1;
    margin-bottom: 2rem;
}
.Services__place-title{
    font-family: var(--Bold-font);
    color: #fff;
    font-size: 2.4rem;
    margin-bottom: 2rem;
    z-index: 1;
}
.Services__place-discripsion{
    font-family: var(--Regular-font);
    color: #fff;
    font-size: 1.6rem;
    max-width: 30rem;
    max-height: 8rem;
    overflow: hidden;
    z-index: 1;
    padding: 1rem;
}
.Services__place-shape{
    position: absolute;
    bottom: 0 ;
    right: 0;
    left: 0;
    z-index: 0;
    width: 100%;
}

/* 
============
Resume 
============
*/

.resume{
    background-color: var(--section-bg-color);
    transform:translateZ(0) skewY(-6deg);
    box-shadow: 0 5px 5rem var(--color-shadow);
    margin-top:6rem;
    padding: 10rem 0;
}

/* ........................................... */
.resume-tabmenu{
    box-shadow: 0 5px 5rem var(--color-shadow);
    padding: 5rem 0 ;
    position: relative;
}
.tabmenu__items{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.tabmenu__links{
    margin-bottom: 3rem;
    z-index: 2;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.6rem 0;
}
.tabmenu__links::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 5.2rem;
    z-index: -1;    
    background-color: var(--main-color);
    border-radius:100%;
}
.tabmenu__links--active{
    max-width: 26rem;
    background-color: var(--main-color);
    color: var(--text-color);
    border-radius: 3rem;
    z-index: 1;
    box-shadow: 0 5px 5rem var(--color-shadow);
}
.shape__svg{
    width: 2rem;
    height: 2rem;
    margin: 0 1rem;
}
.tabmenu__link{
    font-family: var(--SemiBold-font);
    color: var(--Black);
    font-size: 2rem;
    text-decoration: none;
    margin-left: 2.3rem;
    cursor: pointer;
}
.tabmenu__shape{
    width: 4rem;
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

/* ------------------------------------------------------------------------ */

.resume-content{
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.120s ease;
}
.resume-content--show{
    height: auto;
    opacity: 1;
    overflow: visible;
}
.resume-content-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 0 1rem;
    position: relative;
    margin-left: 3rem;
}
.resume-content__head{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 3rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
}
.resume-content__head-title{
    font-family: var(--SemiBold-font);
    font-size: 2rem;
    color: #FF5823;
}
.resume-content__head-date{
    background-color: #F57F17;
    font-family: var(--Regular-font);
    font-size: 1.6rem;
    color: var(--text-color);
    width: 11rem;
    height: 3rem;
    border-radius: 3rem;
}
.contentmenu-wrapper{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0 3rem;
}
.contentmenu__title{
    font-family: var(--SemiBold-font);
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.contentmenu__caption{
    font-size: 1.6rem;
    font-family: var(--Regular-font);
}
.resume-content__shape{
    width: 0.2rem;
    height: 100%;
    background-color: var(--main-color);
    border-radius: 2rem;
    position: absolute;
    top:0 ;
    left: 0;
}
.resume-content__shape::before{
    content: "";
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 2.5rem;
    right: 0;
    left: -1rem;
    background-color: var(--main-color);
    border-radius:100%;
}


/* 
============
Portfolio 
============
*/
.portfolio{
    margin-top: 6rem;
}
.portfolio-nav{
    margin-bottom: 2rem;
}
.portfolio-menu__link{
    font-family: var(--Medium-font);
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--Black);
    padding: 0 1.5rem;
    cursor: pointer;
}

.portfolio-menu__list--active{
    background-color: var(--main-color);
    border-radius: 3rem;
    padding: 1rem 3rem;
    color: #fff;
    transition: all 0.120s ease;

}
.portfolio-content{
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.5s ease, opacity 0.3s ease;
}
.portfolio--show{
    height: auto;
    opacity: 1;
}
span.swiper-pagination-bullet{
    width: 2rem;
    height: 2rem;
    border: 4px solid #BFBEBE;
    background-color: #fff;
}
.swiper-slide {
    margin: 0; /* اطمینان از نبود حاشیه‌های ناخواسته */
    padding: 0; /* اطمینان از نبود فاصله داخلی ناخواسته */
}

.portfolio-content__img {
    width: 100%; /* تصویر عرض کامل اسلاید را پر کند */
    height: auto; /* حفظ نسبت تصویر */
    display: block; /* جلوگیری از فاصله‌های ناخواسته */
}

/* 
============
Pricing
============
*/
.pricing{
    background-color: var(--section-bg-color);
    transform: translateZ(0) skewY(-6deg);
    box-shadow: 0 5px 5rem var(--color-shadow);
    margin-top: 8rem;
    padding: 10rem 0;
}
.pricing-content{
    justify-content: space-between;
    gap: 2rem;
}
.pricing-box{
    box-shadow: 0 5px 5rem var(--color-shadow);
    padding-bottom: 4rem;
}
.pricing-content__top{
    background-color: #FF6331;
    align-items: center;
    text-align: center;
}
.box--pink{
    background-color: #F5276C;
}
.box--violet{
    background-color: #803AFB;
}
.pricing-content__title{
    font-family: var(--SemiBold-font);
    color: #fff;
    font-size: 3.6rem;
    padding-top: 2rem;
}
.pricing-content__price{
    font-family: var(--SemiBold-font);
    color: #fff;
    font-size: 2.4rem;
}
.pricing-content__capsion{
    font-family: var(--Regular-font);
    color: #fff;
    font-size: 1.6rem;
    padding: 1rem 0 2rem 0;
}
.pricing-content__down{
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.pricing-content__items {
    list-style: none; 
    padding: 0;
    margin: 3rem auto;
    text-align: left; 
}
.pricing-content__item {
    position: relative;
    font-family: var(--Regular-font);
    font-size: 1.6rem;
    color: var(--Black);
    padding-left: 3rem; /* برای فضای تیک */
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
}
.pricing-content__item::before {
    content: "✔"; 
    position: absolute;
    left: 0;
    top: 0;
    color: #333333; 
    font-size: 1.8rem;
    line-height: 1.6rem;
}
.pricing-content__item:nth-last-child(1){
    margin-bottom: 0;
}
.pricing__link-btn{
     background-color: var(--Orenge);
}
.pricing__btn--violet{
    background-color: #803AFB;
}
.pricing__btn--pink{
    background-color: #F5276C;
}

/* 
============
Contact Us
============
*/
.Contact-us{
    margin-top: 6rem;
}
.cantact{
  height: 100%;
  background: url(../images/map.jpg) no-repeat top;
  background-size: cover;
  align-items: center;
}
.cantact-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0;
}
.cantact-map{
    display: block;
    background-color: var(--section-bg-color);
    border: 1rem solid var(--section-bg-color);
    border-radius: 100%;
    box-shadow: 0 5px 4rem var(--color-shadow);
    flex-shrink: 0;
     width: 8rem;    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.map-icon{
    width: 5rem;
}
.contact-form{
    padding: 5rem ;
    margin-right: 0;
    border-radius: 2rem;
    box-shadow: 0 5px 5rem var(--color-shadow);
    width: 100%;
    max-width: 57rem; /* برای جلوگیری از بیش‌ازحد کش آمدن */
    background-color: var(--text-color);
}

.map-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.form__title{
    font-family: var(--Bold-font);
    color: var(--main-color);
    font-size: 3.6rem ;
}
.form__input{
    border-radius: 0.5rem;
    font-family: var(--Regular-font);
    background-color: var(--text-color);
    color: var(--Black);
    box-shadow: 0 5px 5rem var(--color-shadow);
    font-size: 1.6rem;
    outline: none;
    border: none;
    padding: 1rem 2rem;
}
.form__btn{
    font-family: var(--SemiBold-font);
    font-size: 1.8rem;
    padding: 1rem;
    border: none;
    border-radius: 3rem;
    background-color: var(--main-color);
    color: var(--text-color);
    font-size: 1.6rem;
    cursor: pointer;
}
.form__btn:focus{
box-shadow: 0 0 1rem rgba(0,0,0,0.1);
  border: 1px solid var(--main-color);
}
/*
==================================      =========================================
    Footer     Footer     Footer       Footer     Footer     Footer     Footer   
==================================      =========================================
*/

.footer{
    justify-content: space-between;
}
.footer-wrapper{
    justify-content: space-between;
    margin: 1rem 0;
}
.footer-content{
    flex-basis: 50%;
}
.footer__text{
    font-family: var(--SemiBold-font);
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: 0.5rem;
    margin: auto 0;
}

.footer-socials{
    display: flex;
    gap: 1rem;
}
.footer-link__items{
   
}
.footer__link , .change-theme{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 100%;
    background-color: #1F2935;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.footer__link:hover{
    background-color: var(--main-color);
}
.footer__link svg ,
.change-theme svg{
    height: 3rem;
    width: 3rem;
    fill: var(--text-color);
    margin:1rem 1rem;

}



/* responsive site */
@media (min-width: 1400px) {
    .container {
        width: 1300px;
    }
}
@media (max-width: 1200px){
     .home{
        height: 75rem;
    }
    .home-picture{
        width: 40rem;
        height: 40rem;

    }
   
    .home__title{
        font-size: 3rem;
    }
    
}
@media (max-width: 992px){ 
    .home{
        height: 75rem;
    }
     .btn{
        font-size: 1.4rem;
    } 
    .logo{
        font-size: 4rem;
    }
    .menu__link{
        font-size: 1.3rem;
        
    }
     .home-content{
        text-align: center;
    }
    .home__name{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .home__title{
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    .home__description{
        font-size: 1.4rem;
        margin-bottom: 2rem;
    }
   
     .home-picture {
        margin-top: 2rem;
        width: 37rem;
        height: 37rem;
    }
    .home__links{
        justify-content: center;
    }
    .section-content{
        flex-direction: column;
    }
    .tabmenu__links::before,.resume-content__shape,.shape__svg,
    .resume-content__shape::before,.tabmenu__shape{
        display: none;
    }
    .resume-tabmenu{
        background-color: none;
        box-shadow: none;
    }
    .tabmenu__items{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .tabmenu__link{
        margin: 0 auto;
        padding: 1rem 2rem;
    }
    .resume-content,.resume-content__head,
    .contentmenu-wrapper{
        padding: 0;

    }

    .portfolio-menu__items{
        flex-wrap: wrap;
    }
   .portfolio-menu__links{
        padding: 1rem 2rem;
   }
   .pricing__link-btn,.pricing__btn--pink,.pricing__btn--violet{
         padding: 1rem;
   }
}
    
@media (max-width: 768px){
    *{
        cursor: default;
    }
     .home{
        height: 90rem;
    }
    .menu{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        width: 100%;
        height: 0;
        flex-direction: column;
        background-color: #fff;
        overflow: hidden;
        transition: all .3s ease-in;
    }
    .menu__links:nth-last-child(1){
        margin-bottom: 2rem;
    }
    .menu--open{
        height:34rem;
    }
    .menu__links{
        margin-top: 2rem;
    }

    .hamburger-menu{
        display: block;
        z-index: 200;
    }
    /* .cover{
        position: fixed;
        top: 0;    
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.1);
        transition: color 0.3s ease-in;
        opacity: 0;
        z-index: -1;
        pointer-events: none;
    }   
        .cover--show{
        opacity: 1;
        z-index: 99;
    } */
        .home__links{
        justify-content: center;
    }
    .home .row{
        flex-direction: column-reverse;
    }
    .cantact-wrapper {
        flex-direction: column;
        gap: 2rem;
  }
    .contact-form {
        width: 100%;
 }
        .cantact-map{
            display: none;
        }

    .footer__text{
        font-family: var(--SemiBold-font);
        font-size: 1.2rem;
 
    }
    .footer-wrapper{
        flex-direction: column;
    }

}
@media (max-width: 576px){
    .Services{
        justify-content: center;
        align-items: center;
    }
    .Services .col-xl-4{
        flex-grow: 1;
    }

}
@media (max-width: 400px){
    .btn{
        padding: 0 1rem;
        font-size: 1.2rem;
    }
   
}